
  
  
  
  
  /*hero-sec*/
  .banner {
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
    width: 100%;
    height: 700px;
  }

  .banner img{
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(0.8);
  }
  
  .banner-txt {
    position: absolute;
    top: 36%;
    left: 16%;
    font-size: 62px;
    text-align: center;
    color: #f3f5f6;
    width: 67%;
  }
  
  .banner-txt h1 {
    font-weight: bolder;
    font-size: 6rem;
    text-shadow: 4px 4px 20px #000;
  }
  
  .btn-1 {
    padding: 15px 68px !important;
    border-radius: 25px !important;
    border: 1px solid var(--color1) !important;
    text-transform: uppercase;
    color: var(--color1) !important;
    background-color: var(--color4) !important ;
    transition: 0.5s !important;
    font-weight: bold !important;
    box-shadow: 4px 4px 10px rgba(21, 21, 21, 0.7) !important;
  }
  
  .btn-1:hover {
    background-color: var(--color1) !important;
    color: var(--color5) !important;
    border: 1px solid var(--color4) !important;
  }
  /*hero end*/
  
 
  
  
  /* Booking Section Start */
  .booking-area {
    background-color: var(--color6);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0/10%);
    margin-top: -8rem;
    padding-top: 14px;
    z-index: 99;
    position: relative;
    opacity: .9;
    border-radius: 10px;
  }
  
  
  .from-select {
    outline: none;
    padding: 15px 68px;
    border-radius: 25px !important;
    border: 1px solid var(--color1) !important;
    text-transform: uppercase;
    color: var(--color1) !important;
    background-color: var(--color4) !important ;
    transition: 0.5s !important;
    font-weight: bold !important;
    box-shadow: 4px 4px 10px rgba(21, 21, 21, 0.7) !important;
  }
  
  .txtBox{
    text-align: center;
  }
  .txtBox h5{
    font-weight: bold;
    margin-top: 15px;
  }
  
  .from-select2 {
    padding: 15px 40px !important;
    border-radius: 25px !important;
    border: 1px solid var(--color1) !important;
    text-transform: uppercase;
    color: var(--color1) !important;
    background-color: var(--color4) !important ;
    transition: 0.5s !important;
    font-weight: bold !important;
    box-shadow: 4px 4px 10px rgba(21, 21, 21, 0.7) !important;
  }
  .from-select2:hover {
    background-color: var(--color1) !important;
    color: var(--color5) !important;
    border: 1px solid var(--color4) !important;
  }
  
  input[type="date"] {
    outline: none;
    padding: 14px !important;
    border-radius: 25px !important;
    border: 1px solid var(--color1) !important;
    text-transform: uppercase;
    color: var(--color1) !important;
    background-color: var(--color4) !important ;
    transition: 0.5s !important;
    font-weight: bold !important;
    box-shadow: 4px 4px 10px rgba(21, 21, 21, 0.6) !important;
  }
  
  
  
  .from-select3:hover {
    background-color: var(--color1);
    color: var(--color4);
    border: 1px solid var(--color1);
  }
  
  /*Booking Section End*/
  
  /*eco-section start*/
  
  .w {
    position: absolute;
    top: 58%;
    left: -19%;
  
  }
  
  .w .leaf1 {
    height: 490px;
    margin-left: -22%;
    margin-top: 3%;
  }
  
  .w .leaf2{
    height: 490px;
    margin-left: 182%;
    margin-top: 300%;
  
  }
  
  
  
  .about {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700 !important;
    position: relative;
  
  }
  
  .about_img h1 {
    width: 100%;
    font-size: 3rem;
    padding-right: 20px;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700 !important;
    color: var(--color1);
  
  }
  
  .about_text {
    width: 45%;
    margin-top: 15px;
  }
  
  
  
  .about_text p {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 60px;
  }
  
  .from-select2 {
    padding: 15px 68px;
    background-color: var(--color4);
    color: var(--color5);
    border: 1px solid var(--color4);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
  
  }
  
  
  .from-select2:hover {
    background-color: var(--color1);
    color: var(--color4);
    border: 1px solid var(--color1);
  }

  /*eco-section-end*/
  
  
  
  
  
  
  
  /*****************customer feedback stars************/
  
  .happyclints {
    width: 100%;
  
  }
  /* Client Feedback */
  .reviewBox{
    width: 80% !important;
    height: 420px;
    margin: 0 auto;
    padding: 10px;

  }
  .mySwiper {
    width: 100%;
    height: 100%;

  }
  
  .clientBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
    
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid var(--color4);
    background: linear-gradient(138deg, rgba(2,0,36,1) 0%, var(--color1) 0%, rgba(255,255,255,1) 100%) !important;
    box-shadow: 4px 4px 10px rgb(99, 99, 99);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
  }


  .clientBox .clientLogo{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    transition: 1s;
  }
  .clientBox .clientLogo:hover{
    transform: scale(1.1);
  }
  .clientFeedback b{
   color: var(--color3);
  }
  .clientName {
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
  }
  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
  } 
  
  
  
  /* .box {
    text-align: center;
    border: 1px rgb(0, 0, 0, 0.3);
    background: linear-gradient(138deg, rgba(2,0,36,1) 0%, var(--color1) 0%, rgba(255,255,255,1) 100%) !important;
    box-shadow: 4px 4px 10px rgb(99, 99, 99);
    border-radius: 5px;
    transition: 0.3 ease;
    color: var(--color5);
  }
  
   
  .box p {
    font-size: 1rem;
    text-transform: capitalize;
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0%;
    bottom: -60px !important;
  }
  
  .carousel-indicators li {
    background-color: var(--color2) !important;
  }
  
  .box a {
    position: relative;
  }
  
  .box a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
  } */
  
  
  
  /*****************customer feedback end************/
  
  
  /*eco banner start*/
  
  .eco-main {
    background-color: var(--color1);
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 140px;
    padding-bottom: 30px;
    margin-top: 8% !important;
    opacity: .5;
  }
  
  /*eco  banner end*/
  
  
  /*about-sec start*/
  .abt2-text h1 {
    width: 100%;
    font-size: 3rem;
    padding-right: 20px;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700 !important;
    color: var(--color1);
    text-align: center;
  
  }
  
  .abt2-text p {
    text-align: center;
    line-height: 50px;
    margin-bottom: 60px;
  
  }
  
  .abt2-text {
    position: relative;
  }
  
  
  .abt2-text .btn-6 {
    position: absolute;
    top: 105%;
    left: 27%;
  }
  
  .from-select3 {
    text-decoration: none;
    justify-content: center;


    padding: 15px 68px;
    border-radius: 25px;
    border: 1px solid var(--color1);
    text-transform: uppercase;
    color: var(--color1);
    background-color: var(--color4);
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgb(21, 21, 21,0.6);
  
  }
  .from-select3:hover{
    background-color: var(--color1);
    color: var(--color5) ;
    border: 1px solid var(--color4);
  }
  /*about-section-end*/
  
 
  /* clients section  start */
.mainLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
}

.ourClients1 h2 {
  color: var(--color3);
  font-weight: 900!important;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.ourClients2 h1 {
  color: var(--color1);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: 'Oswald', sans-serif; 
}

.logoSection {
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.clientLogo {
  width: 150px;
  height: 150px;
}

.clientLogo img {
  width: 100%;
  height: 100%;
}

/* clients section end */
  
  /*eco end*/
  
  .eco-txt {
    width: 45% !important;
  }
  
  .eco-pic {
    width: 40 !important;
  }
  
  /*gallery section start*/
  .gallery {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
  }
  
  .slide img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .slider .prev,
  .slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .slider .prev {
    left: 20px;
  }
  
  .slider .next {
    right: 20px;
  }
  
  /*gallery section start*/
  
  
  /* gal slider */
  
  swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  swiper-slide img {
    display: block;
    width: 100%;
  }
  
  
  
  /*gal-section end*/
  
  
  

  
  
  
  
  #myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--color3);
    /* Set a background color */
    color: var(--color4);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: var(--color9);
    /* Add a dark-grey background on hover */
  }
  
  .clint-txt {
    width: 90%;
    background-color: var(--color1);
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 2px;
    padding-left: 19px;
    padding-right: 2px;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  .clint-main {
    position: relative;
  }
  
  .clint-txt p {
    text-align: right;
  
  }
  
  .clint-txt h5 {
  
    text-align: right;
  }
  
  
  
  
  .desti {
    position: relative;
  }
  
  .leaf {
    position: absolute;
    top: 0%;
    right: 0%;
  }
  
  
  
  
  /* destination on */
  .about {
    margin-top: 40px;
  }
  
  /* .about{
       margin-bottom:150px;
  } */
  .about-con {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .abt-img {
    width: 48%;
  }
  
  .about2 {
    margin-bottom: 150px;
  }
  
  
  .about2-con {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about2-img {
    text-align: center;
    width: 30%;
    margin-top: 30px;
    transition: .7s;
  }
  
  .about2-img:hover {
    margin-top: 0px;
    transition: 1.2s;
  }
  
  .abt2-text h1 {
    color: var(--color1);
    margin-bottom: 35px;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
  }
  
  .abt2-text h1 span {
    color: var(--color1);
    margin-bottom: 35px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
  }
  
  .abt2-text p {
    color: #000000;
    line-height: 30px;
  
  
  }
  
  .about3-img span img {
    margin-bottom: 40px;
  
  }
  
  .abt3-text h1 {
    color: var(--color1);
    margin-bottom: 35px;
    margin-top: 10%;
    font-size: 4rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  
  .abt3-text p {
    color: #b9b8b8;
    width: 100%;
    text-align: center;
  }
  
  .about4-img span img {
    margin-bottom: 40px;
  
  }
  
  .abt4-text h1 {
    color: #127cbe;
    margin-bottom: 35px;
  }
  
  .abt4-text p {
    color: #b9b8b8;
    width: 33%;
  }
  
  
  /* destination off */
  
  
  
  
  
  
  /* gallery main div */
  .gallery1{
    width: 100%;
  }
  
  .main-btn{
    border-radius: 40px;
  }
  
  

  